<footer>
    <div class="footer-container">
      <div class="footer-col">
        <h3>Adresse</h3>
        <p>
          <a href="https://www.google.com/search?q=immatriculation+st+palais" target="_blank" style="text-decoration: underline; color: inherit;">
            ZA Lehena<br>64120 Amendeuix-Oneix, France
            <img src="images/map-icon.png" alt="Carte" style="width: 24px; height: 24px; margin-left: 5px; vertical-align: middle;">
          </a>
        </p>
      </div>
      <div class="footer-col">
        <p style="margin-top: 40px;">© <span id="current-year"></span> - <span class="immat-name">IMMAT&CO</span> - Tous droits réservés</p>
      </div>
      <div class="footer-col">
        <h3>Contact</h3>
        <p>
          Tél : <a href="tel:+33647599147" style="text-decoration: underline; color: inherit;">06 47 59 91 47</a><br>
          Email : <a href="mailto:immat.saintpalais@gmail.com?subject=Contact via le site web" style="text-decoration: underline; color: inherit;">immat.saintpalais@gmail.com</a>
        </p>
      </div>
    </div>
    <div style="text-align: center; margin-top: 20px; border-top: 1px solid rgba(255,255,255,0.2); padding-top: 10px;">
      <a href="login.html" style="color: #FFFFFF; font-weight: bold; text-decoration: underline;">Accès administrateur</a>
    </div>
  </footer>
